.search {
  input.searchTerm,
  input.form-control {
    color: #bbb;
    background-color: #fff;
    border: 2px solid #e2e2e2;
  }

  .buttons {
    button.btn-search {
      color: $text-color-primary;
    }
  }
}
