.homepage.sticky-header .wrapper {
  margin-top: 103px;

  @media (min-width: $screen-sm) {
    margin-top: 103px;
  }
}

.homepage.sticky-header header {
  box-shadow: none;

  // @media (min-width: $screen-sm) {
  //   margin-top: 103px;
  // }
}

.cms-home-page-more-info {
  color: $color-primary;

  p,
  a {
    color: $color-primary;
  }
}

a.cms-homepage-learn-btn {
  color: #0062ae;
}
