.login-modal {
  font-family: $font-family-regular;

  .modal-header {
    .modal-title {
      color: $color-secondary;
    }
  }

  .modal-body {
    ish-identity-provider-login {
      form {
        .form-group {
          button {
            background-color: $color-secondary;
          }

          a {
            color: $color-secondary;
          }
        }
      }
    }

    .text-center {
      u a {
        color: $color-primary;
      }
    }
  }
}
