.quick-cart-link {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  background: none;

  &:hover {
    color: $color-secondary;
  }

  .ng-fa-icon.header-icon {
    font-size: 25px;
    color: $color-primary;
    text-align: center;
  }
}

.quick-cart-link > a {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0 7.5px;
  color: $color-primary;

  span {
    color: $color-primary;

    &:hover {
      color: $color-secondary;
    }
  }
}

.sticky-header header .header .header-utility ish-mini-basket {
  a,
  a fa-icon {
    font-size: 17px;
  }
}
