.quickorder-link {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0 7.5px;
  color: $color-primary;

  .ng-fa-icon.header-icon {
    padding-left: 10px;
    font-size: 25px;
    color: $color-primary;
    text-align: center;
  }
}
